<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Use the path /students/postStudents</h1>
    <h2>To post new students</h2>
    <br><br>



    <h1>Students u posted already:</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
        </tr>
        <% users.forEach((data) => { %>
            <tr>
                <td><%= data.firstName %></td>
                <td><%= data.lastName %></td>
                <td><%= data.email %></td>
                <td><%= data.tel %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
