<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post students</title>
    <link rel="stylesheet" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/students/postStudents">Post New Students</a></li>
            </ul>
        </nav>
     </header>
    
    <h1 class="form_h1">Fill out the form bellow to post new students:</h1>
 <form action="/students/postStudents" method="post">

    <input type="text" style="margin-bottom: 10px" name="firstName" class="form-control" placeholder="enter student first name">
    <input type="text" style="margin-bottom: 10px" name="lastName" class="form-control" placeholder="enter student last name">
    <input type="email" style="margin-bottom: 10px" name="email" class="form-control" placeholder="email a@gmail.com">
    <input type="tel" style="margin-bottom: 10px" name="tel" class="form-control" pattern="05[0-9]-[0-9]{7}" placeholder="05#-#######">
    <input type="submit" value="SUBMIT">
</form> 



</body>
</html>